notebooks/task1/floorplan_model_weights.pthnotebooks/task1/floorplan_model_weights.pth
test.py
.env
.venv
agents.py
chat_app.py
floorplan_model_weights.pth
docker-compose.yml
Dockerfile
backend/models
tmp_ingest
tmp_parse
