notebooks/task1/floorplan_model_weights.pthnotebooks/task1/floorplan_model_weights.pth
test.py
.env
.venv
agents.py
chat_app.py
floorplan_model_weights.pth

src/backend/models
tmp_ingest/
tmp_parse/
# E:\SmartSense\backend\mock_orchestrator.py

/backend/

__pycache__/
*.py[cod]
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
data/
logs/
*.log
*.tmp
*.backup

